@font-face {
    font-family: 'Outfit';
    src: url('assets/fonts/Outfit-VariableFont_wght.ttf')
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-background-container: hsl(0, 0%, 100%);
    --clr-background: hsl(212, 45%, 89%);

    --clr-font-light: hsl(220, 15%, 55%);
    --clr-font-dark: hsl(218, 44%, 22%);
}

body {
    font-family: Outfit;
    font-size: 15px;
    background-color: var(--clr-background);
    margin: 1rem;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.container {
    display: block;
    padding: 0.75rem;
    background-color: var(--clr-background-container);
    border-radius: 1.5rem;
    text-align: center;
    box-shadow: 10px 10px 10px rgba(70, 70, 70, 0.09);
}

@media (min-width: 500px) {
    .container {
        width: 450px;
    }
}
  
.qr-code {
    padding: 10px;
}

.qr-code img {
    border-radius: 0.8rem;
    max-width: 100%;
    margin-bottom: 1rem;
}

.qr-description {
    margin: 0 2rem 2.75rem;
}

.qr-description h1 {
    margin-bottom: 1.5rem;
    color: var(--clr-font-dark);
    font-weight: 700;
}

.qr-description p {
    color: var(--clr-font-light);
    font-size: 1.4em;
    font-weight: 400;
}